In [1]:
import sqlite3
#Create Connection Object

conn = sqlite3.connect('INSTRUCTOR.db')
#Create Cursor Object

cursor_obj = conn.cursor()

# Task 2: Create a Table

#Step 1: First Drop the Table

cursor_obj.execute('''DROP TABLE IF EXISTS INSTRUCTOR''')
#Step 2 : Create actual table

table = '''create TABLE if NOT EXISTS INSTRUCTOR( ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), 
LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2));'''

cursor_obj.execute(table)
 
print("Table is Ready")

#TASK 3 : Insert DATA
# Insert one at a time

cursor_obj.execute('''Insert into INSTRUCTOR values(1, 'Rav', 'Ahuja', 'Toronto', 'CA')''')

# Inserting multiple lines at once

cursor_obj.execute(''' Insert into INSTRUCTOR values(2, 'Raul', 'Chong', 'Markham', 'CA'), (3, 'Hima', 'Vasudevan', 'Chicago', 'US')''')


#Task 4 : retrieving Data

statement = ''' SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)

print ('all the data')
output_all  = cursor_obj.fetchall()
for row_data in output_all:
    print (row_data)


#Fetching few rows

statement =  '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)

#Use Fetchmany(row no) to get a select number of rows
print('Fetch select number of rows')
output_many =  cursor_obj.fetchmany(2)
for row_data in output_many:
    print (row_data)

#Fetching one or more select columns

statement = ''' SELECT FNAME, LNAME from INSTRUCTOR'''
cursor_obj.execute(statement)

print ('Getting first and last name')
output_names = cursor_obj.fetchall()
for names in output_names:
    print(names)

query_update = ''' update INSTRUCTOR set CITY = 'Moosetown' WHERE FNAME = "Rav"'''
cursor_obj.execute(query_update)

statement = ''' Select * From INSTRUCTOR '''
cursor_obj.execute(statement)

Fetch_new = cursor_obj.fetchmany(2)
for data in Fetch_new:
    print (data)


#Task 5 : Retrieving into a Pandas Dataframe

#Install Pandas

%pip install pandas
import pandas as pd

df = pd.read_sql_query(''' SELECT * FROM INSTRUCTOR;''', conn)
df

print(df.LNAME[0])

print(df.shape)


#Close the connection

conn.close()

Table is Ready
all the data
(1, 'Rav', 'Ahuja', 'Toronto', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')
(3, 'Hima', 'Vasudevan', 'Chicago', 'US')
Fetch select number of rows
(1, 'Rav', 'Ahuja', 'Toronto', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')
Getting first and last name
('Rav', 'Ahuja')
('Raul', 'Chong')
('Hima', 'Vasudevan')
(1, 'Rav', 'Ahuja', 'Moosetown', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')

<ipython-input-1-82df53c0f0c0>:81: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

Ahuja
(3, 5)